/* index.html */
/*nav bar*/
img.logo{
    width: 36px;
    height: 36px;
    color: white;
    padding: 2px;
    background-color: indigo;
    border-radius: 50%; 
    border: 2px solid currentColor; 
    box-sizing: content-box; /
  }
  
.notdisplay{
  display: none;
}

/*hero section*/

@keyframes autoscroll {
  from {
    transform: translateY(0%); 
  }

  to {
    transform: translateY(3%); 
  }
}


@keyframes autoscroll-reverse {
  from {
    transform: translateY(3%);
  }

  to {
    transform: translateY(0%); 
  }
}



.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use vh units for full-height */
  background-image: url('hero-image.jpg');
  background-size: cover;
  background-position: center;
}

.hero-img {
  flex-grow: 1; /* Expand image to fill available space */
  object-fit: cover;
}

.hero-text {
  flex-shrink: 0; /* Prevent text from shrinking */
  color: #fff;
  position: relative;
  text-align: center;
  top:-360px;
  right: 335px;
  margin: 0 auto;
  padding: 0 20px; /* Add some padding for better readability */
}

.hero-text h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* Use clamp() for responsive font size */
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

/*home page about me */

.aboutme{
width: 100%;
padding: 78px 0px;
}

.aboutme img{
  height: auto;
  width: 420px;
}

.aboutme-info{
  width: 550px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutme-info h1{
  color: black;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.aboutme-info h5{
  color: black;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

span{
  color: blue;
}

.aboutme-info p{
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.homeab-btm{
  display: inline-block;
  margin-right: 10px;
  background: #339DFF;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
}

.homeab-btm:hover {
  background: #fff;
  color: #339DFF;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

