* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial;
  box-sizing: border-box;
}

.header {
  background-color: #03b9f6;
  padding: 20px 0;
  width: 100%;
}

.web-icon {
  border-radius: 20%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.brand-name {
  margin-left: 10px;
  font-size: 1.5em;
  font-family: 'sans-serif';
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-family: 'sans-serif';
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-toggle {
  display: none; 
  flex-direction: column;
  justify-content: space-between; 
  width: 30px; 
  height: 20px; 
  cursor: pointer;
}

.nav-icon {
  width: 100%; 
  height: 3px; 
  background-color: #333; 
  border-radius: 2px; 
}

.show {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

/* Hero section */
.hero {
  background-image: url('assets/homepagemain.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 200px 0;
}

.hero-content {
  max-width: 800px;
  margin-left: 50px;
}

.hero-title {
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding-bottom: 20px;
}

span {
  color: #339DFF;
}

.hero-description {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.hero-button {
  background-color: #339DFF;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  transition: background-color 0.5s ease;
}

.hero-button:hover {
  background-color: #fff;
  color: #339DFF;
}

/* About me section */
.aboutme {
  padding: 100px 0;
  text-align: center;
  background-color: #f9f9f9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.aboutme-info {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.aboutme-info h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.aboutme-info h5 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.aboutme-info p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.homeab-btm {
  background-color: #339DFF;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 1em;
  transition: background-color 0.5s ease;
}

.homeab-btm:hover {
  background-color: #fff;
  color: #339DFF;
  border: 1px solid #339DFF;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-content p {
  font-size: 1em;
  margin-bottom: 20px;
}

.footer-button {
  background-color: #339DFF;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.5s ease;
}

.footer-button:hover {
  background-color: #fff;
  color: #339DFF;
  border: 1px solid #339DFF;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .hero {
    padding: 100px 0;
  }

  .hero-title {
    font-size: 2em;
  }

  .hero-description {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .hero-button {
    padding: 12px 24px;
    font-size: 1em;
  }

  .profile-picture {
    width: 150px;
    height: inherit;
    margin-bottom: 100px;
  }

  .aboutme-info h1 {
    font-size: 2em;
  }

  .aboutme-info h5 {
    font-size: 1.2em;
  }

  .aboutme-info p {
    font-size: 1em;
  }

  .homeab-btm {
    padding: 12px 24px;
    font-size: 1em;
  }
}


@media (max-width: 768px) {

  .nav-links {
    display: none; 
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-toggle {
    display: flex; 
  }

  .nav-links.active {
    display: flex; 
  }

}