<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nightdev4l's portfolio</title>
  <link rel="icon" href="/assets/NightDev4l-logos.jpeg" type="image/icon type" class="web-icon">
  <script src="script.js"></script>
</head>
<body>
  <header class="header">
    <div class="container">
      <a class="logo-brand" href="/">
        <img src="/assets/NightDev4l-logos.jpeg" alt="raccoonPressLogo Logo" class="logo">
        <tt class="brand-name">Nightdev4l</tt>
      </a>
      <nav class="nav">
        <div class="nav-toggle" id="nav-toggle" onclick="toggleMenu()">
          <!-- Hamburger icon -->
          <span class="nav-icon"></span>
          <span class="nav-icon"></span>
          <span class="nav-icon"></span>
        </div>
        <div class="nav-links" id="nav-menu">
          <a class="nav-link" href="/index.html">Home Page</a>
          <a class="nav-link" href="books.html">Books</a>
          <a class="nav-link" href="about-me.html">About Me</a>
          <a class="nav-link" href="video.html">Video</a>
          <a class="nav-link" href="forAuthors.html">For Authors</a>
          <a class="nav-link" href="contact.html">Contact Me</a> 
        </div>
      </nav>
    </div>
  </header>
  <!--main section-->

  </body>
</html>