img.logo{
  width: 36px;
  height: 36px;
  color: white;
  padding: 2px;
  background-color: indigo;
  border-radius: 50%; 
  border: 2px solid currentColor; 
  box-sizing: content-box; /
}

.abme{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  image-resolution: from-image 300dpi;
}

body{
  background-color: #fff;
}
