* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%; /* Ensure the page takes full height */
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column; /* Flexbox layout */
    background-color: #f7f7f7;
  }
  
  .header {
    background-color: #339DFF;
    padding: 20px 0;
    width: 100%;
  }
  
  .web-icon {
    border-radius: 20%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  .brand-name {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: 'sans-serif';
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    font-family: 'sans-serif';
    text-decoration: none;
    color: #333;
    font-size: 1em;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  .nav-toggle {
    display: none; 
    flex-direction: column;
    justify-content: space-between; 
    width: 30px; 
    height: 20px; 
    cursor: pointer;
  }
  
  .nav-icon {
    width: 100%; 
    height: 3px; 
    background-color: #333; 
    border-radius: 2px; 
  }
  
  .show {
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex: 1; /* Makes the content take up remaining space and pushes the footer down */
  }
  
  .socialMediaContainer {
    display: grid;
    place-items: center;
    margin: 0 auto;
  }
  
  .socialMediaLinks {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .socialMediaLinks a {
    color: #339DFF;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .footer-button {
    background-color: #339DFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.5s ease;
  }
  
  .footer-button:hover {
    background-color: #fff;
    color: #339DFF;
    border: 1px solid #339DFF;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.8em;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none; 
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .nav-toggle {
      display: flex; 
    }
  
    .nav-links.active {
      display: flex; 
    }
  }
  