/*contact.html*/
img.logo{
    width: 36px;
    height: 36px;
    color: white;
    padding: 2px;
    background-color: indigo;
    border-radius: 50%;
    border: 2px solid currentColor;
    box-sizing: content-box; /
  }
.notdisplay{
  display: none;
}
        /* Style the video element */
        .background-video {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
        }

        /* Style the message div */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
}
p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}
.social-links {
    text-align: center;
    margin-top: 30px;
}
.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #007bff; 
    font-size: 24px;
}
.social-links a:hover {
    text-decoration: underline; 
}
        