img.logo{
    width: 36px;
    height: 36px;
    color: white;
    padding: 2px;
    background-color: indigo;
    border-radius: 50%; 
    border: 2px solid currentColor; 
    box-sizing: content-box; /
  }

  .msg{
    text-align: center;
    padding-top: 160px;
  }